.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background: #fafafa;
font-family: Roboto, sans-serif;
text-align: center;
}


h2 {
margin-bottom: 24px;
font-size: 24px;
}


.buttons {
display: flex;
gap: 16px;
margin-bottom: 20px;
}


.result p {
font-size: 18px;
}

.result strong.placeholder {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
}

.success {
  padding: 12px;
  border-radius: 4px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
  margin-bottom: 16px;
}

.error {
  padding: 12px;
  border-radius: 4px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  margin-bottom: 16px;
}

.dashboard-button {
  margin-top: 20px;

  button {
    padding: 0 24px;
  }
}
